In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# !pip install optimuspyspark

In [3]:
import sys
sys.path.append("../../Optimus")
sys.path.append("../../urlparser")

In [4]:
from url_parser import UrlObject

In [5]:
from optimus import Optimus

In [6]:
# op = Optimus("dask", threads_per_worker=8, n_workers=1)
op = Optimus("vaex")

In [7]:
op.client

In [8]:
df = op.load.csv("foo.csv")

In [9]:
df.cols.names()

['name', 'function', ' phone_number', 'num']

In [10]:
df1 = df.cols.upper("name")

In [11]:
# df.rows.approx_count()
df.cols.select("name")

name
(string)
----------
Optimus
Bumblebee
eject

In [16]:
df

name        function                  phone_number                  num
(string)    (string)                 (string)                 (float64)
----------  -----------------------  ---------------------  -----------
Optimus     leader                   123-456-7890                   2.2
Bumblebee   espionage                123-456-7890                   3
eject       ELECTRONIC SURVEILLANCE  optimus@cybertron.com          4

In [19]:
df.cols.min("name")

array(2.2)

In [13]:
print(df.cols.upper("name", output_cols="new_column"))

name        new_column    function                  phone_number                  num
(string)    (string)      (string)                 (string)                 (float64)
----------  ------------  -----------------------  ---------------------  -----------
Optimus     OPTIMUS       leader                   123-456-7890                   2.2
Bumblebee   BUMBLEBEE     espionage                123-456-7890                   3
eject       EJECT         ELECTRONIC SURVEILLANCE  optimus@cybertron.com          4

In [14]:
df.cols.lower("name", output_cols="a")

name        a           function                  phone_number                  num
(string)    (string)    (string)                 (string)                 (float64)
----------  ----------  -----------------------  ---------------------  -----------
Optimus     optimus     leader                   123-456-7890                   2.2
Bumblebee   bumblebee   espionage                123-456-7890                   3
eject       eject       ELECTRONIC SURVEILLANCE  optimus@cybertron.com          4

In [ ]:
# df.cols.trim("name", output_cols="a")
df.cols.title("name", output_cols="a")
df.cols.capitalize("function", output_cols="a")

In [ ]:
# df.cols.slice("name",0,1, step = 1, output_cols="a")
df = df.cols.slice("name",start=1, stop=3)

In [ ]:
print(df.cols.slice("name",start=1, stop=3))

In [ ]:
df.cols.names()

In [ ]:
df.cols.sin(" num")

In [ ]:
df.data["name"].is_float()

In [106]:
import numpy as np
a = df.data[" num"]
np.sin(df.data[" num"])

Expression = sin(df[' num'])
Length: 3 dtype: float64 (expression)
-------------------------------------
0   0.909297
1    0.14112
2  -0.756802

In [24]:
print(df.cols.sin("num")["num"])

        num
  (float64)
-----------
   0.808496
   0.14112
  -0.756802

In [22]:
df

name        function                  phone_number                  num
(string)    (string)                 (string)                 (float64)
----------  -----------------------  ---------------------  -----------
Optimus     leader                   123-456-7890                   2.2
Bumblebee   espionage                123-456-7890                   3
eject       ELECTRONIC SURVEILLANCE  optimus@cybertron.com          4

In [30]:
def func(value):        
    return value + 10
print(df.cols.apply("num",func, mode="map")["num"])

        num
  (float64)
-----------
       12.2
       13
       14

In [1]:
df

NameError: name 'df' is not defined

In [ ]:
# df['test'] = vaex.vrange(0, len(df))  # add a 'virtual range' column, which takes no memory
# df['test'] = df['test']* 0 + 111  # multiply by zero, and add the initial value
# import vaex
# import numpy as np
# df.data["A"] =  np.repeat("value", len(df.data))

In [ ]:
df.data["name"].str.split("i")

In [ ]:
df

In [ ]:
# df.cols.lower("name")
df.cols.select("name")

In [ ]:
df.cols._names()

In [89]:
df.cols.lower()

In [90]:
df

name        function                  phone_number                num
(string)    (string)                 (string)                 (int64)
----------  -----------------------  ---------------------  ---------
Optimus     leader                   123-456-7890                   2
Bumblebee   espionage                123-456-7890                   3
eject       ELECTRONIC SURVEILLANCE  optimus@cybertron.com          4

In [45]:
print(df)

name        function                  phone_number
(object)    (object)                 (object)
----------  -----------------------  ---------------------
Optimus     leader                   123-456-7890
Bumblebee   espionage                123-456-7890
eject       ELECTRONIC SURVEILLANCE  optimus@cybertron.com

In [44]:
df = op.load.csv("foo.csv")
print(df.cols.infer_dtypes())

name        function     phone_number
(object)    (object)    (object)
----------  ----------  ---------------
string      string      phone_number
string      string      phone_number
string      string      email

In [43]:
import re
regex = r"\+?\(?([0-9]{3})\)?[-.]?\(?([0-9]{3})\)?[-.]?\(?([0-9]{4})\)?"
value = "123-456-7890"
bool(re.match(regex, value))

True

In [26]:
type(r"\+?\(?([0-9]{3})\)?[-.]?\(?([0-9]{3})\)?[-.]?\(?([0-9]{4})\)?")

str

In [40]:
import vaex
df = vaex.read_csv("foo.csv")

In [41]:
df["name"] = df["name"].str.lower()

In [42]:
df1 = df.copy()

In [45]:
df1["name"] = df1["name"].str.upper()

In [48]:
df

  #  name         function                     phone_number
  0  'optimus'    ' leader'                   '123-456-7890'
  1  'bumblebee'  ' espionage'                '123-456-7890'
  2  'eject'      ' ELECTRONIC SURVEILLANCE'  'optimus@cybertron.com'

In [9]:
import vaex
import numpy as np
import fastnumbers

# create a wrapper function
def func(x):
    return fastnumbers.fast_float(x, default=np.nan)

def on_fail(x):
    return np.nan

x = ['1', '2', 'asdf', '-3']
df = vaex.from_arrays(x=x)


df['x1'] = df["x"].apply(func)

In [10]:
df

  #  x         x1
  0  '1'        1
  1  '2'        2
  2  'asdf'   nan
  3  '-3'      -3