# Chapter Fourth - Data Processing with Optimus

## Why Optimus exist?

Create Optimus with pandas as engine

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("../../Optimus")

In [3]:
from optimus import Optimus 
op = Optimus("pandas") 
op.engine

C:\Users\argenisleon\Anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\argenisleon\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\argenisleon\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  stacklevel=1)

'pandas'

In [124]:
df = op.load.file("foo.csv")

In [208]:
df.ascii()

name        job                id
(object)    (object)      (int64)
----------  ----------  ---------
optimus     Leader              1
optimus     Espionage           2
bumblebee   1                   3
bumblebee   3                   4

In [5]:
df.pivot()

In [102]:
df

In [209]:
df.cols.min("id")

1

In [210]:
df.cols.min(["id","name"])

{'id': 1, 'name': 'bumblebee'}

In [128]:
df = df.cols.cast("id","int")

In [134]:
df

In [168]:
df

In [199]:
df.cols.count()

3

In [197]:
df.cols.min("id")

1

In [207]:
df.cols.cumsum("id")

0     1.0
1     3.0
2     6.0
3    10.0
Name: id, dtype: float64

In [198]:
df.cols.min("name")

'bumblebee'

In [186]:
df.cols.min(["id", "name"])

{'id': 1, 'name': 'bumblebee'}

In [196]:
df.agg({"id":min})

1

In [211]:
df.agg({"name":min,"id":max})

{'name': 'bumblebee', 'id': 4}

In [212]:
df.agg({"id":min}, groupby="name")

{'bumblebee': 3, 'optimus': 1}

In [217]:
print(df.cols.std("id"))
print(df.cols.min("id"))

1.2909944487358056
1

In [220]:
df.agg({"id":"std","name":min})

{'id': 1.2909944487358056, 'name': 'bumblebee'}

In [112]:
df = df.cols.cast("id","int")
# df.groupby("name").agg([min,max])
# df.groupby("name").agg({"id":min})
# df.groupby("name").agg({"id":min,"id":"mean"})
# df.groupby("name").agg(x=('id', max))

TypeError: parse_columns() takes from 2 to 6 positional arguments but 7 were given

In [95]:
df["id"]