# Chapter Six - Data Processing with Optimus

In [1]:
%load_ext autoreload
%autoreload 2

### How fingerprint works

In [2]:
import sys
sys.path.append("../../Optimus")

In [3]:
from optimus import Optimus
op = Optimus("pandas")

In [4]:
df = op.create.dataframe({"A":["optimus","optimus","prime","bumblebee","megatron"],"B":[1,2,3,4,5]})

In [5]:
df

A                   B
(object)      (int64)
----------  ---------
optimus             1
optimus             2
prime               3
bumblebee           4
megatron            5

In [90]:
print(df.cols.soundex("A"))

A                   B
(object)      (int64)
----------  ---------
O135                1
O135                2
P650                3
B514                4
M236                5

In [91]:
print(df.cols.metaphone("A"))

A                   B
(object)      (int64)
----------  ---------
OPTMS               1
OPTMS               2
PRM                 3
BMBLB               4
MKTRN               5

In [ ]:
df.string

In [93]:
print(df.cols.match_rating_codex("A"))

A                   B
(object)      (int64)
----------  ---------
OPTMS               1
OPTMS               2
PRM                 3
BMBLB               4
MGTRN               5

In [92]:
print(df.cols.nysiis("A"))

A                   B
(object)      (int64)
----------  ---------
OPTAN               1
OPTAN               2
PRAN                3
BANBLABY            4
MAGATRAN            5

In [59]:
a = np.array([[1,2,3],[4,5,1]])
b = np.where(a!=1)
print(a[a[:]])

[2 3 4 5]

In [89]:

# from Levenshtein import distance
from itertools import combinations
import numpy as np
import jellyfish as jellyfish

a = np.empty((0,3))

# u = df.data["A"].drop_duplicates()
# j= u.map(jellyfish.metaphone)
col_name = "A"
_df = df[col_name].rows.drop_duplicates()
_df["B"]= df[col_name].cols.metaphone()

for b,z in zip(combinations(_df.data[col_name].values, 2),combinations(_df.data["B"].values, 2)):   
    a = np.append(a,np.array([[b[0], b[1],jellyfish.levenshtein_distance(*z)]]), axis=0)

topn = 2
result={}
cols_dict={}
cols_dict[col_name] = {}

for s in _df.data[col_name]:    
    cols_dict[col_name][s]={}
    b = a[((a[:,0]==s) | (a[:,1]==s))]
    c = b[b[:,2].argsort()][:topn]
    c = np.reshape(c[np.where(c!=s)], (-1, 2)).tolist()
    cols_dict[col_name][s] = {"suggestion":c,"suggestions_size":len(c),"total_count":2}
    
cols_dict

{'A': {'optimus': {'suggestion': [['prime', '3'], ['megatron', '4']],
   'suggestions_size': 2,
   'total_count': 2},
  'prime': {'suggestion': [['optimus', '3'], ['megatron', '4']],
   'suggestions_size': 2,
   'total_count': 2},
  'bumblebee': {'suggestion': [['optimus', '5'], ['prime', '5']],
   'suggestions_size': 2,
   'total_count': 2},
  'megatron': {'suggestion': [['optimus', '4'], ['prime', '4']],
   'suggestions_size': 2,
   'total_count': 2}}}

In [ ]:
{ 

    "name": { 
        "John Doe": { 
            "suggestions": [ 
                "John Doe", "john doe", "doe, john", "joohn dooe" 
            ], 
            "suggestions_size": 4, 
            "total_count": 5 
        }, 
        "alice": { 
            "suggestions": ["alice", "álice"], 
            "suggestions_size": 2, 
            "total_count": 4 
        } 
    } 
}

In [47]:
df

A           B
(object)    (object)
----------  ----------
optimus     OPTMS
prime       PRM
bumblebee   BMBLB
megatron    MKTRN

In [14]:
import pandas as pd
import jellyfish

# data = pd.read_csv("test.csv")  # Your filename here

# # Looping over the rows and calculating the metaphone
# for i in range(data.shape[0]):
#     data["FirstWordMeta"][i] = jellyfish.metaphone(data["FirstWord"][i])
#     data["StMeta"][i] = jellyfish.metaphone(data["ST_NAME"][i])

# # Save to csv
# data.to_csv("result.csv")

In [54]:
%%time
df["id"].mask.integer().cols.sum()

Wall time: 180 ms

50000.0

In [27]:
df.cols.match("*", regex=".")

      id    transaction_date      name     price    discount
  (bool)              (bool)    (bool)    (bool)      (bool)
--------  ------------------  --------  --------  ----------
       1                   1         1         1           1
       1                   1         1         1           0
       1                   1         1         1           0
       1                   1         1         1           0
       1                   1         1         1           0
       1                   1         1         1           0
       1                   1         1         1           0
       1                   1         1         1           0
       1                   1         1         1           0
       1                   1         1         1           0

In [36]:
df["id"].mask.social_security_number()

      id
  (bool)
--------
       0
       0
       0
       0
       0
       0
       0
       0
       0
       0

In [14]:
~df.mask.nulls("*")

      id
  (bool)
--------
       1
       1
       1
       1
       1
       1
       1
       1
       1
       1

In [169]:
df.cols.lower()

        id  transaction_date    name             price  discount
  (object)  (object)            (object)      (object)  (object)
----------  ------------------  ----------  ----------  ----------
         1  1/7/2019            pants-rt38      260     50
         2  1/4/2019            pants-fg63       82.99
         3  1/5/2015            pants-sg08      372.99
         4  1/10/2019           shirt-st05      150
         5  1/4/2017            shirt-ft67       52.99
         6  1/10/2018           shoes-ft13       62.99
         7  1/10/2017           pants-ft46      375
         8  1/5/2016            pants-ft75       77.99
         9  1/8/2018            shirt-fg07      232.99
        10  1/12/2015           pants-rt74      245

In [ ]:
df.cols.profiler_dtypes("id")

In [22]:
df.cols.dtypes()

{'id': 'object',
 'transaction_date': 'object',
 'name': 'object',
 'price': 'object',
 'discount': 'object'}

In [21]:
df

        id  transaction_date    name             price  discount
  (object)  (object)            (object)      (object)  (object)
----------  ------------------  ----------  ----------  ----------
      3082  1/5/2016            PANTS-SG42       72.99
     16129  1/2/2015            shirt-ST86       30     20
     30173  1/4/2019            PANTS-St65       95     20%
     35778  1/9/2015            pants-Sg63      155     15%
     56751  1/4/2018            pants-RG89       57.99
     64783  1/8/2016            shirt-fg26       15
     75099  1/5/2017            SHIRT-Rt91      114.99  20
     83937  1/7/2018            SHOES-sg78      135     5

In [5]:
df.cols.infer_profiler_dtypes()

{'id': {'dtype': 'zip_code'},
 'transaction_date': {'dtype': 'date', 'format': '%m/%d/%Y'},
 'name': {'dtype': 'string'},
 'price': {'dtype': 'int'},
 'discount': {'dtype': 'string'},
 'new_column': {'dtype': 'decimal'}}

In [18]:
df.cols.count_uniques("discount")

11

In [ ]:
cols_and_inferred_dtype = df.cols.infer_profiler_dtypes("*")

In [ ]:
print(cols_and_inferred_dtype)

In [16]:
df.cols.count_mismatch({'new_column': {'dtype': 'int'}})

{'new_column': {'match': 0,
  'missing': 0,
  'mismatch': 92780,
  'profiler_dtype': {'dtype': 'int'}}}

In [19]:
df

        id  transaction_date    name             price  discount      new_column
  (object)  (object)            (object)      (object)  (object)       (float64)
----------  ------------------  ----------  ----------  ----------  ------------
      5508  1/7/2018            Pants-SG68      175                       nan
     18087  1/5/2018            pants-SG57       90                       nan
     34698  1/11/2016           shoes-SG48       95     50                 47.5
     39359  1/11/2015           Shirt FT58      219.99                    nan
     47512  1/4/2017            shoes-ST70      227.99                    nan
     62756  1/11/2019           shirt-fg23       45     15                 38.25
     76127  1/12/2015           shirt-FT29       20                       nan
     89682  1/12/2016           Shirt-sg52      100                       nan

In [30]:
df.profile(columns="*")

col_name id
col_name transaction_date
col_name price
col_name new_column
mismatch {'id': {'match': 82781, 'missing': 0, 'mismatch': 9999, 'profiler_dtype': {'dtype': 'zip_code'}}, 'transaction_date': {'match': 92780, 'missing': 0, 'mismatch': 0, 'profiler_dtype': {'dtype': 'date', 'format': '%m/%d/%Y'}}, 'name': {'match': 92780, 'missing': 0, 'mismatch': 0, 'profiler_dtype': {'dtype': 'string'}}, 'price': {'match': 46294, 'missing': 0, 'mismatch': 46486, 'profiler_dtype': {'dtype': 'int'}}, 'discount': {'match': 92780, 'missing': 0, 'mismatch': 0, 'profiler_dtype': {'dtype': 'string'}}, 'new_column': {'match': 9724, 'missing': 63655, 'mismatch': 83056, 'profiler_dtype': {'dtype': 'decimal'}}}

{'columns': {'id': {'stats': {'match': 82781,
    'missing': 0,
    'mismatch': 9999,
    'profiler_dtype': {'dtype': 'zip_code'},
    'frequency': [{'value': '1', 'count': 1},
     {'value': '65658', 'count': 1},
     {'value': '65687', 'count': 1},
     {'value': '65688', 'count': 1},
     {'value': '65689', 'count': 1},
     {'value': '6569', 'count': 1},
     {'value': '65690', 'count': 1},
     {'value': '65691', 'count': 1},
     {'value': '65692', 'count': 1},
     {'value': '65675', 'count': 1},
     {'value': '65694', 'count': 1},
     {'value': '65674', 'count': 1},
     {'value': '65672', 'count': 1},
     {'value': '65655', 'count': 1},
     {'value': '65656', 'count': 1},
     {'value': '65657', 'count': 1},
     {'value': '65659', 'count': 1},
     {'value': '65673', 'count': 1},
     {'value': '6566', 'count': 1},
     {'value': '65660', 'count': 1},
     {'value': '65661', 'count': 1},
     {'value': '65662', 'count': 1},
     {'value': '65663', 'count': 1},
     {'value': '65664', 'count': 1},
     {'value': '65665', 'count': 1},
     {'value': '65666', 'count': 1},
     {'value': '65667', 'count': 1},
     {'value': '65668', 'count': 1},
     {'value': '65669', 'count': 1},
     {'value': '6567', 'count': 1},
     {'value': '65670', 'count': 1},
     {'value': '65671', 'count': 1},
     {'value': '65686', 'count': 1}],
    'count_uniques': 92780},
   'dtype': 'object'},
  'transaction_date': {'stats': {'match': 92780,
    'missing': 0,
    'mismatch': 0,
    'profiler_dtype': {'dtype': 'date', 'format': '%m/%d/%Y'},
    'frequency': [{'value': '1/7/2017', 'count': 2267},
     {'value': '1/8/2016', 'count': 2219},
     {'value': '1/6/2016', 'count': 2208},
     {'value': '1/10/2016', 'count': 2194},
     {'value': '1/5/2016', 'count': 2167},
     {'value': '1/4/2017', 'count': 2147},
     {'value': '1/3/2016', 'count': 2142},
     {'value': '1/2/2017', 'count': 2135},
     {'value': '1/4/2016', 'count': 2128},
     {'value': '1/5/2017', 'count': 2128},
     {'value': '1/3/2018', 'count': 2127},
     {'value': '1/9/2017', 'count': 2116},
     {'value': '1/5/2018', 'count': 2115},
     {'value': '1/6/2018', 'count': 2113},
     {'value': '1/9/2016', 'count': 2111},
     {'value': '1/2/2018', 'count': 2108},
     {'value': '1/10/2017', 'count': 2104},
     {'value': '1/3/2017', 'count': 2098},
     {'value': '1/11/2018', 'count': 2095},
     {'value': '1/9/2018', 'count': 2094},
     {'value': '1/6/2017', 'count': 2092},
     {'value': '1/11/2016', 'count': 2088},
     {'value': '1/8/2018', 'count': 2078},
     {'value': '1/11/2017', 'count': 2076},
     {'value': '1/7/2018', 'count': 2073},
     {'value': '1/7/2016', 'count': 2052},
     {'value': '1/10/2018', 'count': 2045},
     {'value': '1/8/2017', 'count': 2039},
     {'value': '1/2/2016', 'count': 2034},
     {'value': '1/4/2018', 'count': 2026},
     {'value': '1/8/2015', 'count': 1108},
     {'value': '1/12/2017', 'count': 1089},
     {'value': '1/1/2016', 'count': 1083}],
    'count_uniques': 60},
   'dtype': 'object'},
  'name': {'stats': {'match': 92780,
    'missing': 0,
    'mismatch': 0,
    'profiler_dtype': {'dtype': 'string'},
    'frequency': [{'value': 'Pants-FG35', 'count': 38},
     {'value': 'Pants-SG42', 'count': 36},
     {'value': 'pants-SG82', 'count': 35},
     {'value': 'Pants-FG65', 'count': 34},
     {'value': 'PANTS-FG24', 'count': 32},
     {'value': 'pants-SG81', 'count': 31},
     {'value': 'PANTS-SG14', 'count': 30},
     {'value': 'PANTS-SG42', 'count': 30},
     {'value': 'pants-FG41', 'count': 30},
     {'value': 'PANTS-SG85', 'count': 29},
     {'value': 'pants-FG36', 'count': 29},
     {'value': 'PANTS-FG33', 'count': 29},
     {'value': 'PANTS-FG11', 'count': 29},
     {'value': 'pants-SG51', 'count': 29},
     {'value': 'pants-FG51', 'count': 29},
     {'value': 'PANTS-FG61', 'count': 28},
     {'value': 'pants-FG35', 'count': 28},
     {'value': 'pants-FG32', 'count': 28},
     {'value': 'Pants-FG48', 'count': 28},
     {'value': 'PANTS-SG58', 'count': 28},
     {'value': 'Pants-FG63', 'count': 28},
     {'value': 'pants-FG13', 'count': 28},
     {'value': 'Pants-SG58', 'count': 28},
     {'value': 'PANTS-FG64', 'count': 28},
     {'value': 'Pants-RG77', 'count': 28},
     {'value': 'pants-SG32', 'count': 28},
     {'value': 'PANTS-FG13', 'count': 28},
     {'value': 'pants-SG73', 'count': 28},
     {'value': 'PANTS-FG38', 'count': 28},
     {'value': 'PANTS-FG46', 'count': 28},
     {'value': 'pants-SG27', 'count': 27},
     {'value': 'pants-FG55', 'count': 27},
     {'value': 'PANTS-FG78', 'count': 27}],
    'count_uniques': 20527},
   'dtype': 'object'},
  'price': {'stats': {'match': 46294,
    'missing': 0,
    'mismatch': 46486,
    'profiler_dtype': {'dtype': 'int'},
    'frequency': [{'value': '45', 'count': 1132},
     {'value': '50', 'count': 917},
     {'value': '40', 'count': 879},
     {'value': '90', 'count': 774},
     {'value': '80', 'count': 735},
     {'value': '155', 'count': 726},
     {'value': '165', 'count': 724},
     {'value': '175', 'count': 717},
     {'value': '110', 'count': 716},
     {'value': '160', 'count': 713},
     {'value': '115', 'count': 711},
     {'value': '105', 'count': 709},
     {'value': '55', 'count': 709},
     {'value': '100', 'count': 704},
     {'value': '180', 'count': 701},
     {'value': '150', 'count': 698},
     {'value': '85', 'count': 697},
     {'value': '60', 'count': 695},
     {'value': '125', 'count': 694},
     {'value': '135', 'count': 693},
     {'value': '190', 'count': 691},
     {'value': '95', 'count': 688},
     {'value': '130', 'count': 688},
     {'value': '185', 'count': 682},
     {'value': '145', 'count': 682},
     {'value': '65', 'count': 680},
     {'value': '120', 'count': 680},
     {'value': '70', 'count': 679},
     {'value': '140', 'count': 679},
     {'value': '195', 'count': 675},
     {'value': '75', 'count': 666},
     {'value': '30', 'count': 665},
     {'value': '170', 'count': 646}],
    'count_uniques': 320},
   'dtype': 'object'},
  'discount': {'stats': {'match': 92780,
    'missing': 0,
    'mismatch': 0,
    'profiler_dtype': {'dtype': 'string'},
    'frequency': [{'value': '', 'count': 54051},
     {'value': '5', 'count': 10594},
     {'value': '20', 'count': 6984},
     {'value': '15', 'count': 6947},
     {'value': '5%', 'count': 3348},
     {'value': '15%', 'count': 2385},
     {'value': '20%', 'count': 2363},
     {'value': '50', 'count': 2312},
     {'value': '75', 'count': 2288},
     {'value': '75%', 'count': 760},
     {'value': '50%', 'count': 748}],
    'count_uniques': 11},
   'dtype': 'object'},
  'new_column': {'stats': {'match': 9724,
    'missing': 63655,
    'mismatch': 83056,
    'profiler_dtype': {'dtype': 'decimal'},
    'frequency': [{'value': 'nan', 'count': 63655},
     {'value': '80.75', 'count': 156},
     {'value': '76.0', 'count': 145},
     {'value': '152.0', 'count': 140},
     {'value': '47.5', 'count': 134},
     {'value': '161.5', 'count': 127},
     {'value': '42.75', 'count': 115},
     {'value': '136.0', 'count': 109},
     {'value': '40.0', 'count': 104},
     {'value': '228.0', 'count': 103},
     {'value': '68.0', 'count': 101},
     {'value': '71.25', 'count': 99},
     {'value': '85.5', 'count': 98},
     {'value': '42.5', 'count': 98},
     {'value': '38.0', 'count': 98},
     {'value': '304.0', 'count': 96},
     {'value': '166.25', 'count': 96},
     {'value': '38.25', 'count': 95},
     {'value': '142.5', 'count': 95},
     {'value': '95.0', 'count': 94},
     {'value': '99.75', 'count': 94},
     {'value': '242.25', 'count': 94},
     {'value': '190.0', 'count': 93},
     {'value': '80.0', 'count': 93},
     {'value': '90.25', 'count': 92},
     {'value': '36.0', 'count': 92},
     {'value': '85.0', 'count': 92},
     {'value': '323.0', 'count': 92},
     {'value': '20.0', 'count': 89},
     {'value': '28.5', 'count': 89},
     {'value': '123.5', 'count': 87},
     {'value': '171.0', 'count': 86},
     {'value': '137.75', 'count': 86}],
    'count_uniques': 1504},
   'dtype': 'float64'}},
 'name': None,
 'file_name': None,
 'summary': {'cols_count': 6,
  'rows_count': 92780,
  'dtypes_list': ['float64', 'object'],
  'total_count_dtypes': 2,
  'missing_count': 0,
  'p_missing': 0.0}}

In [48]:
df.cols.profiler_dtypes("*")

{'id': 'zip_code',
 'transaction_date': 'date',
 'name': 'string',
 'price': 'int',
 'discount': 'string',
 'new_column': 'decimal'}

In [9]:
df.meta

{'transformations': {'actions': []},
 'profile': {'columns': {'id': {'stats': {'match': 82781,
     'missing': 0,
     'mismatch': 9999,
     'profiler_dtype': {'dtype': 'zip_code'},
     'frequency': [{'value': '1', 'count': 1},
      {'value': '65658', 'count': 1},
      {'value': '65687', 'count': 1},
      {'value': '65688', 'count': 1},
      {'value': '65689', 'count': 1},
      {'value': '6569', 'count': 1},
      {'value': '65690', 'count': 1},
      {'value': '65691', 'count': 1},
      {'value': '65692', 'count': 1},
      {'value': '65675', 'count': 1},
      {'value': '65694', 'count': 1},
      {'value': '65674', 'count': 1},
      {'value': '65672', 'count': 1},
      {'value': '65655', 'count': 1},
      {'value': '65656', 'count': 1},
      {'value': '65657', 'count': 1},
      {'value': '65659', 'count': 1},
      {'value': '65673', 'count': 1},
      {'value': '6566', 'count': 1},
      {'value': '65660', 'count': 1},
      {'value': '65661', 'count': 1},
      {'value': '65662', 'count': 1},
      {'value': '65663', 'count': 1},
      {'value': '65664', 'count': 1},
      {'value': '65665', 'count': 1},
      {'value': '65666', 'count': 1},
      {'value': '65667', 'count': 1},
      {'value': '65668', 'count': 1},
      {'value': '65669', 'count': 1},
      {'value': '6567', 'count': 1},
      {'value': '65670', 'count': 1},
      {'value': '65671', 'count': 1},
      {'value': '65686', 'count': 1}],
     'count_uniques': 92780},
    'dtype': 'object'},
   'transaction_date': {'stats': {'match': 92780,
     'missing': 0,
     'mismatch': 0,
     'profiler_dtype': {'dtype': 'date', 'format': '%m/%d/%Y'},
     'frequency': [{'value': '1/7/2017', 'count': 2267},
      {'value': '1/8/2016', 'count': 2219},
      {'value': '1/6/2016', 'count': 2208},
      {'value': '1/10/2016', 'count': 2194},
      {'value': '1/5/2016', 'count': 2167},
      {'value': '1/4/2017', 'count': 2147},
      {'value': '1/3/2016', 'count': 2142},
      {'value': '1/2/2017', 'count': 2135},
      {'value': '1/4/2016', 'count': 2128},
      {'value': '1/5/2017', 'count': 2128},
      {'value': '1/3/2018', 'count': 2127},
      {'value': '1/9/2017', 'count': 2116},
      {'value': '1/5/2018', 'count': 2115},
      {'value': '1/6/2018', 'count': 2113},
      {'value': '1/9/2016', 'count': 2111},
      {'value': '1/2/2018', 'count': 2108},
      {'value': '1/10/2017', 'count': 2104},
      {'value': '1/3/2017', 'count': 2098},
      {'value': '1/11/2018', 'count': 2095},
      {'value': '1/9/2018', 'count': 2094},
      {'value': '1/6/2017', 'count': 2092},
      {'value': '1/11/2016', 'count': 2088},
      {'value': '1/8/2018', 'count': 2078},
      {'value': '1/11/2017', 'count': 2076},
      {'value': '1/7/2018', 'count': 2073},
      {'value': '1/7/2016', 'count': 2052},
      {'value': '1/10/2018', 'count': 2045},
      {'value': '1/8/2017', 'count': 2039},
      {'value': '1/2/2016', 'count': 2034},
      {'value': '1/4/2018', 'count': 2026},
      {'value': '1/8/2015', 'count': 1108},
      {'value': '1/12/2017', 'count': 1089},
      {'value': '1/1/2016', 'count': 1083}],
     'count_uniques': 60},
    'dtype': 'object'},
   'name': {'stats': {'match': 92780,
     'missing': 0,
     'mismatch': 0,
     'profiler_dtype': {'dtype': 'string'},
     'frequency': [{'value': 'Pants-FG35', 'count': 38},
      {'value': 'Pants-SG42', 'count': 36},
      {'value': 'pants-SG82', 'count': 35},
      {'value': 'Pants-FG65', 'count': 34},
      {'value': 'PANTS-FG24', 'count': 32},
      {'value': 'pants-SG81', 'count': 31},
      {'value': 'PANTS-SG14', 'count': 30},
      {'value': 'PANTS-SG42', 'count': 30},
      {'value': 'pants-FG41', 'count': 30},
      {'value': 'PANTS-SG85', 'count': 29},
      {'value': 'pants-FG36', 'count': 29},
      {'value': 'PANTS-FG33', 'count': 29},
      {'value': 'PANTS-FG11', 'count': 29},
      {'value': 'pants-SG51', 'count': 29},
      {'value': 'pants-FG51', 'count': 29},
      {'value': 'PANTS-FG61', 'count': 28},
      {'value': 'pants-FG35', 'count': 28},
      {'value': 'pants-FG32', 'count': 28},
      {'value': 'Pants-FG48', 'count': 28},
      {'value': 'PANTS-SG58', 'count': 28},
      {'value': 'Pants-FG63', 'count': 28},
      {'value': 'pants-FG13', 'count': 28},
      {'value': 'Pants-SG58', 'count': 28},
      {'value': 'PANTS-FG64', 'count': 28},
      {'value': 'Pants-RG77', 'count': 28},
      {'value': 'pants-SG32', 'count': 28},
      {'value': 'PANTS-FG13', 'count': 28},
      {'value': 'pants-SG73', 'count': 28},
      {'value': 'PANTS-FG38', 'count': 28},
      {'value': 'PANTS-FG46', 'count': 28},
      {'value': 'pants-SG27', 'count': 27},
      {'value': 'pants-FG55', 'count': 27},
      {'value': 'PANTS-FG78', 'count': 27}],
     'count_uniques': 20527},
    'dtype': 'object'},
   'price': {'stats': {'match': 46294,
     'missing': 0,
     'mismatch': 46486,
     'profiler_dtype': {'dtype': 'int'},
     'frequency': [{'value': '45', 'count': 1132},
      {'value': '50', 'count': 917},
      {'value': '40', 'count': 879},
      {'value': '90', 'count': 774},
      {'value': '80', 'count': 735},
      {'value': '155', 'count': 726},
      {'value': '165', 'count': 724},
      {'value': '175', 'count': 717},
      {'value': '110', 'count': 716},
      {'value': '160', 'count': 713},
      {'value': '115', 'count': 711},
      {'value': '105', 'count': 709},
      {'value': '55', 'count': 709},
      {'value': '100', 'count': 704},
      {'value': '180', 'count': 701},
      {'value': '150', 'count': 698},
      {'value': '85', 'count': 697},
      {'value': '60', 'count': 695},
      {'value': '125', 'count': 694},
      {'value': '135', 'count': 693},
      {'value': '190', 'count': 691},
      {'value': '95', 'count': 688},
      {'value': '130', 'count': 688},
      {'value': '185', 'count': 682},
      {'value': '145', 'count': 682},
      {'value': '65', 'count': 680},
      {'value': '120', 'count': 680},
      {'value': '70', 'count': 679},
      {'value': '140', 'count': 679},
      {'value': '195', 'count': 675},
      {'value': '75', 'count': 666},
      {'value': '30', 'count': 665},
      {'value': '170', 'count': 646}],
     'count_uniques': 320},
    'dtype': 'object'},
   'discount': {'stats': {'match': 92780,
     'missing': 0,
     'mismatch': 0,
     'profiler_dtype': {'dtype': 'string'},
     'frequency': [{'value': '', 'count': 54051},
      {'value': '5', 'count': 10594},
      {'value': '20', 'count': 6984},
      {'value': '15', 'count': 6947},
      {'value': '5%', 'count': 3348},
      {'value': '15%', 'count': 2385},
      {'value': '20%', 'count': 2363},
      {'value': '50', 'count': 2312},
      {'value': '75', 'count': 2288},
      {'value': '75%', 'count': 760},
      {'value': '50%', 'count': 748}],
     'count_uniques': 11},
    'dtype': 'object'},
   'new_column': {'stats': {'match': 9724,
     'missing': 63655,
     'mismatch': 83056,
     'profiler_dtype': {'dtype': 'decimal'},
     'frequency': [{'value': 'nan', 'count': 63655},
      {'value': '80.75', 'count': 156},
      {'value': '76.0', 'count': 145},
      {'value': '152.0', 'count': 140},
      {'value': '47.5', 'count': 134},
      {'value': '161.5', 'count': 127},
      {'value': '42.75', 'count': 115},
      {'value': '136.0', 'count': 109},
      {'value': '40.0', 'count': 104},
      {'value': '228.0', 'count': 103},
      {'value': '68.0', 'count': 101},
      {'value': '71.25', 'count': 99},
      {'value': '85.5', 'count': 98},
      {'value': '42.5', 'count': 98},
      {'value': '38.0', 'count': 98},
      {'value': '304.0', 'count': 96},
      {'value': '166.25', 'count': 96},
      {'value': '38.25', 'count': 95},
      {'value': '142.5', 'count': 95},
      {'value': '95.0', 'count': 94},
      {'value': '99.75', 'count': 94},
      {'value': '242.25', 'count': 94},
      {'value': '190.0', 'count': 93},
      {'value': '80.0', 'count': 93},
      {'value': '90.25', 'count': 92},
      {'value': '36.0', 'count': 92},
      {'value': '85.0', 'count': 92},
      {'value': '323.0', 'count': 92},
      {'value': '20.0', 'count': 89},
      {'value': '28.5', 'count': 89},
      {'value': '123.5', 'count': 87},
      {'value': '171.0', 'count': 86},
      {'value': '137.75', 'count': 86}],
     'count_uniques': 1504},
    'dtype': 'float64'}},
  'name': None,
  'file_name': None,
  'summary': {'cols_count': 6,
   'rows_count': 92780,
   'dtypes_list': ['object', 'float64'],
   'total_count_dtypes': 2,
   'missing_count': 0,
   'p_missing': 0.0}}}

In [3]:
from optimus import Optimus 
op = Optimus("pandas")

C:\Users\argenisleon\Anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\argenisleon\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\argenisleon\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  stacklevel=1)

pandas

In [4]:
df = op.load.file("foo.csv")

In [5]:
df

In [20]:
class BaseDataFrame:
    def __init__(self):
        self.df=None
    def set(self, df):
        self.df = df

In [31]:
# from optimus.engines.base.odataframe import BaseDataFrame
def f(df):    
    df.cols.lower()
    
client.submit(f)

In [ ]:
#server
def server(func):
    df.data= op.get_var("df")
    func(df)

In [32]:
f()

1

TypeError: Can't instantiate abstract class BaseDataFrame with abstract methods compute, debug, execute, partitions, query, sample, show

In [107]:
df.cols.scatter()

TypeError: scatter() missing 1 required positional argument: 'columns'

In [7]:
df.ascii()

name        job                 id
(object)    (object)      (object)
----------  ----------  ----------
optimus     Leader               1
optimus     Espionage            2
bumblebee   1                    3
bumblebee   3                    4

In [22]:
df.cols.quality()

args ()

{'name': {'match': 4,
  'missing': 0,
  'mismatch': 0,
  'profiler_dtype': {'dtype': 'string'}},
 'job': {'match': 4,
  'missing': 0,
  'mismatch': 0,
  'profiler_dtype': {'dtype': 'string'}},
 'id': {'match': 4,
  'missing': 0,
  'mismatch': 0,
  'profiler_dtype': {'dtype': 'int'}}}

In [23]:
df.cols.profiler_dtypes({"job":"string"})

TypeError: list indices must be integers or slices, not dict

In [ ]:
df

In [61]:
df.profile(bins=5)

{'columns': {'name': {'stats': {'match': 4,
    'missing': 0,
    'mismatch': 0,
    'profiler_dtype': {'dtype': 'string'},
    'frequency': [{'value': 'bumblebee', 'count': 2},
     {'value': 'optimus', 'count': 2}],
    'count_uniques': 2},
   'dtype': 'object'},
  'job': {'stats': {'match': 4,
    'missing': 0,
    'mismatch': 0,
    'profiler_dtype': {'dtype': 'string'},
    'frequency': [{'value': 'Leader', 'count': 1},
     {'value': '3', 'count': 1},
     {'value': 'Espionage', 'count': 1},
     {'value': '1', 'count': 1}],
    'count_uniques': 4},
   'dtype': 'object'},
  'id': {'stats': {'match': 4,
    'missing': 0,
    'mismatch': 0,
    'profiler_dtype': {'dtype': 'int'},
    'hist': [{'lower': 1.0, 'upper': 1.75, 'count': 1},
     {'lower': 1.75, 'upper': 2.5, 'count': 1},
     {'lower': 2.5, 'upper': 3.25, 'count': 1},
     {'lower': 3.25, 'upper': 4.0, 'count': 1}],
    'count_uniques': 4},
   'dtype': 'object'}},
 'name': 'foo.csv',
 'file_name': 'foo.csv',
 'summary': {'cols_count': 3,
  'rows_count': 4,
  'dtypes_list': ['object'],
  'total_count_dtypes': 1,
  'missing_count': 0,
  'p_missing': 0.0}}

In [25]:
df.cols.hist("id",5)
# df.cols.hist("id")["hist"]["id"][0]["lower"]

args ()
args ()

{'hist': {'id': [{'lower': 1.0, 'upper': 1.75, 'count': 1},
   {'lower': 1.75, 'upper': 2.5, 'count': 1},
   {'lower': 2.5, 'upper': 3.25, 'count': 1},
   {'lower': 3.25, 'upper': 4.0, 'count': 1}]}}

In [26]:
df.cols.frequency("*",5)

{'frequency': {'name': {'values': [{'value': 'bumblebee', 'count': 2},
    {'value': 'optimus', 'count': 2}]},
  'job': {'values': [{'value': 'Leader', 'count': 1},
    {'value': '3', 'count': 1},
    {'value': 'Espionage', 'count': 1},
    {'value': '1', 'count': 1}]},
  'id': {'values': [{'value': '3', 'count': 1},
    {'value': '1', 'count': 1},
    {'value': '4', 'count': 1},
    {'value': '2', 'count': 1}]}}}

In [57]:
# df.cols.percentile("id")
df.cols.percentile("*", [0.25, 0.5, 0.75], relative_error=1)

{'name': nan,
 'job': {0.25: 1.5, 0.5: 2.0, 0.75: 2.5},
 'id': {0.25: 1.75, 0.5: 2.5, 0.75: 3.25}}

In [53]:
df.cols.names()

['name', 'job', 'id']

In [54]:
df.cols.iqr("*")

{'name': nan, 'job': 1.0, 'id': 1.5}

In [58]:
df.cols.boxplot("id")

{'id': {'mean': 2.5,
  'median': 2.5,
  'q1': 1.75,
  'q3': 3.25,
  'whisker_low': -0.5,
  'whisker_high': 5.5,
  'fliers': [],
  'label': 'id'}}

In [209]:
df.cols.min("id")

1

In [210]:
df.cols.min(["id","name"])

{'id': 1, 'name': 'bumblebee'}

In [128]:
df = df.cols.cast("id","int")

In [134]:
df

In [168]:
df

In [199]:
df.cols.count()

3

In [1]:
d = [{"optimus":["optimus prime","Optimus","Yoptimus"]}]

In [4]:
def set(name_id, new_name):
    for el in d:
        
        print(el)
set(0,"Optimus")

{'optimus': ['optimus prime', 'Optimus', 'Yoptimus']}

In [1]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.append("../../Optimus")

In [2]:
from optimus import Optimus
op = Optimus("dask")

C:\Users\argenisleon\Anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\argenisleon\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\argenisleon\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  stacklevel=1)

dask

In [4]:
df = op.load.file("https://bumblebee.nyc3.digitaloceanspaces.com/store.csv", n_rows=35)

In [5]:
df.cols.unnest("transaction_date", "/", splits=2, output_cols="name")

C:\Users\argenisleon\Anaconda3\lib\site-packages\dask\dataframe\multi.py:1094: UserWarning: Concatenating dataframes with unknown divisions.
We're assuming that the indexes of each dataframes are
 aligned. This assumption is not generally safe.
  "Concatenating dataframes with unknown divisions.\n"

        id  transaction_date    name_1          name_0  name             price  discount
  (object)  (object)            (object)      (object)  (object)      (object)  (object)
----------  ------------------  ----------  ----------  ----------  ----------  ----------
        13  1/12/2017           12/2017              1  Pants-Sg36      232.99
        33  1/8/2016            8/2016               1  shirt-St46       32.99
         8  1/5/2016            5/2016               1  pants-ft75       77.99
        27  1/9/2016            9/2016               1  Pants-FT38      270
        24  1/7/2018            7/2018               1  PANTS-Fg81      152.99
         9  1/8/2018            8/2018               1  SHIRT-Fg07      232.99
        26  1/3/2019            3/2019               1  shoes-RG71      212.99  15
        17  1/10/2018           10/2018              1  SHIRT-Sg88      375
        31  1/8/2018            8/2018               1  Shirt-FG58      279.99  20
         4  1/10/2019           10/2019              1  SHIRT-St05      150

In [8]:
dask

NameError: name 'dask' is not defined

In [6]:
_output = df.profile(columns="*") 
print(_output)

{'columns': {'id': {'stats': {'match': 35, 'missing': 0, 'mismatch': 0, 'profiler_dtype': {'dtype': 'int'}, 'hist': [{'lower': 1.0, 'upper': 1.25, 'count': 1}, {'lower': 1.25, 'upper': 1.5, 'count': 0}, {'lower': 1.5, 'upper': 1.75, 'count': 0}, {'lower': 1.75, 'upper': 2.0, 'count': 0}, {'lower': 2.0, 'upper': 2.25, 'count': 1}, {'lower': 2.25, 'upper': 2.5, 'count': 0}, {'lower': 2.5, 'upper': 2.75, 'count': 0}, {'lower': 2.75, 'upper': 3.0, 'count': 0}, {'lower': 3.0, 'upper': 3.25, 'count': 1}, {'lower': 3.25, 'upper': 3.5, 'count': 0}, {'lower': 3.5, 'upper': 3.75, 'count': 0}, {'lower': 3.75, 'upper': 4.0, 'count': 0}, {'lower': 4.0, 'upper': 4.25, 'count': 1}, {'lower': 4.25, 'upper': 4.5, 'count': 0}, {'lower': 4.5, 'upper': 4.75, 'count': 0}, {'lower': 4.75, 'upper': 5.0, 'count': 0}, {'lower': 5.0, 'upper': 5.25, 'count': 1}, {'lower': 5.25, 'upper': 5.5, 'count': 0}, {'lower': 5.5, 'upper': 5.75, 'count': 0}, {'lower': 5.75, 'upper': 6.0, 'count': 0}, {'lower': 6.0, 'upper': 6.25, 'count': 1}, {'lower': 6.25, 'upper': 6.5, 'count': 0}, {'lower': 6.5, 'upper': 6.75, 'count': 0}, {'lower': 6.75, 'upper': 7.0, 'count': 0}, {'lower': 7.0, 'upper': 7.25, 'count': 1}, {'lower': 7.25, 'upper': 7.5, 'count': 0}, {'lower': 7.5, 'upper': 7.75, 'count': 0}, {'lower': 7.75, 'upper': 8.0, 'count': 0}, {'lower': 8.0, 'upper': 8.25, 'count': 1}, {'lower': 8.25, 'upper': 8.5, 'count': 0}, {'lower': 8.5, 'upper': 8.75, 'count': 0}, {'lower': 8.75, 'upper': 9.0, 'count': 1}], 'count_uniques': 35}, 'dtype': 'object'}, 'transaction_date': {'stats': {'match': 35, 'missing': 0, 'mismatch': 0, 'profiler_dtype': {'dtype': 'date', 'format': '%m/%d/%Y'}, 'frequency': [{'value': '1/10/2018', 'count': 3}, {'value': '1/8/2018', 'count': 3}, {'value': '1/8/2019', 'count': 2}, {'value': '1/8/2016', 'count': 2}, {'value': '1/12/2017', 'count': 2}, {'value': '1/4/2017', 'count': 2}, {'value': '1/10/2016', 'count': 2}, {'value': '1/6/2016', 'count': 1}, {'value': '1/10/2015', 'count': 1}, {'value': '1/5/2016', 'count': 1}, {'value': '1/8/2015', 'count': 1}, {'value': '1/7/2019', 'count': 1}, {'value': '1/7/2018', 'count': 1}, {'value': '1/7/2017', 'count': 1}, {'value': '1/5/2017', 'count': 1}, {'value': '1/4/2019', 'count': 1}, {'value': '1/2/2018', 'count': 1}, {'value': '1/3/2019', 'count': 1}, {'value': '1/3/2018', 'count': 1}, {'value': '1/12/2016', 'count': 1}, {'value': '1/12/2015', 'count': 1}, {'value': '1/11/2018', 'count': 1}, {'value': '1/10/2019', 'count': 1}, {'value': '1/10/2017', 'count': 1}, {'value': '1/5/2015', 'count': 1}, {'value': '1/9/2016', 'count': 1}], 'count_uniques': 26}, 'dtype': 'object'}, 'name': {'stats': {'match': 35, 'missing': 0, 'mismatch': 0, 'profiler_dtype': {'dtype': 'string'}, 'frequency': [{'value': 'PANTS-FG63', 'count': 1}, {'value': 'SHIRT-St05', 'count': 1}, {'value': 'SHIRT-Fg07', 'count': 1}, {'value': 'Pants-Sg36', 'count': 1}, {'value': 'Pants-SG08', 'count': 1}, {'value': 'Pants-FT48', 'count': 1}, {'value': 'SHIRT-Sg88', 'count': 1}, {'value': 'Pants-FT46', 'count': 1}, {'value': 'Pants-FT21', 'count': 1}, {'value': 'PANTS-rt38', 'count': 1}, {'value': 'PANTS-SG19', 'count': 1}, {'value': 'PANTS-Rt74', 'count': 1}, {'value': 'PANTS-Fg81', 'count': 1}, {'value': 'PANTS-Fg76', 'count': 1}, {'value': 'Pants-FT38', 'count': 1}, {'value': 'PANTS-FT56', 'count': 1}, {'value': 'SHOES-St15', 'count': 1}, {'value': 'Shoes-SG82', 'count': 1}, {'value': 'shoes-RG71', 'count': 1}, {'value': 'shoes-FT13', 'count': 1}, {'value': 'shirt-St46', 'count': 1}, {'value': 'shirt-Ft67', 'count': 1}, {'value': 'pants-ft75', 'count': 1}, {'value': 'pants-FT56', 'count': 1}, {'value': 'SHOES-SG44', 'count': 1}, {'value': 'pants-FG86', 'count': 1}, {'value': 'Shoes-FG89', 'count': 1}, {'value': 'Shirt-sg12', 'count': 1}, {'value': 'Shirt-Fg48', 'count': 1}, {'value': 'Shirt-FT89', 'count': 1}, {'value': 'Shirt-FG58', 'count': 1}, {'value': 'Shirt-FG43', 'count': 1}, {'value': 'SHIRT-Fg66', 'count': 1}], 'count_uniques': 35}, 'dtype': 'object'}, 'price': {'stats': {'match': 17, 'missing': 0, 'mismatch': 18, 'profiler_dtype': {'dtype': 'int'}, 'frequency': [{'value': '185', 'count': 2}, {'value': '232.99', 'count': 2}, {'value': '375', 'count': 2}, {'value': '42.99', 'count': 1}, {'value': '340', 'count': 1}, {'value': '354.99', 'count': 1}, {'value': '370', 'count': 1}, {'value': '372.99', 'count': 1}, {'value': '330', 'count': 1}, {'value': '32.99', 'count': 1}, {'value': '52.99', 'count': 1}, {'value': '62.99', 'count': 1}, {'value': '65', 'count': 1}, {'value': '74.99', 'count': 1}, {'value': '77.99', 'count': 1}, {'value': '82.99', 'count': 1}, {'value': '117.99', 'count': 1}, {'value': '180', 'count': 1}, {'value': '137.99', 'count': 1}, {'value': '279.99', 'count': 1}, {'value': '270', 'count': 1}, {'value': '260', 'count': 1}, {'value': '245', 'count': 1}, {'value': '230', 'count': 1}, {'value': '212.99', 'count': 1}, {'value': '317.99', 'count': 1}, {'value': '172.99', 'count': 1}, {'value': '170', 'count': 1}, {'value': '155', 'count': 1}, {'value': '152.99', 'count': 1}, {'value': '150', 'count': 1}, {'value': '85', 'count': 1}], 'count_uniques': 32}, 'dtype': 'object'}, 'discount': {'stats': {'match': 35, 'missing': 0, 'mismatch': 0, 'profiler_dtype': {'dtype': 'string'}, 'frequency': [{'value': '', 'count': 28}, {'value': '5', 'count': 3}, {'value': '20', 'count': 2}, {'value': '15', 'count': 1}, {'value': '50', 'count': 1}], 'count_uniques': 5}, 'dtype': 'object'}}, 'name': 'store.csv', 'file_name': 'https://bumblebee.nyc3.digitaloceanspaces.com/store.csv', 'summary': {'cols_count': 5, 'rows_count': 35, 'dtypes_list': ['object'], 'total_count_dtypes': 1, 'missing_count': 0, 'p_missing': 0.0}}

In [20]:
mask = df.cols.select("discount").cols.pattern()["discount"]=="##"

_output = df.buffer_window("*", 0, 35).rows.find( mask, output_col="__match__" ).columns_sample("*")

TypeError: assign() takes 1 positional argument but 2 were given

In [22]:
import json
from optimus.helpers.json import json_converter
preview_df = op.load.file("https://bumblebee.nyc3.digitaloceanspaces.com/store.csv", n_rows=35)
_output = {}
_output.update({ 'sample': preview_df.columns_sample("*") })
_output.update({ "meta": preview_df.meta })
json.dumps(_output,  default=json_converter, ensure_ascii=False)

'{"sample": {"columns": [{"title": "id"}, {"title": "transaction_date"}, {"title": "name"}, {"title": "price"}, {"title": "discount"}], "value": [["1", "1/7/2019", "PANTS-rt38", "260", "50"], ["2", "1/4/2019", "PANTS-FG63", "82.99", ""], ["3", "1/5/2015", "Pants-SG08", "372.99", ""], ["4", "1/10/2019", "SHIRT-St05", "150", ""], ["5", "1/4/2017", "shirt-Ft67", "52.99", ""], ["6", "1/10/2018", "shoes-FT13", "62.99", ""], ["7", "1/10/2017", "Pants-FT46", "375", ""], ["8", "1/5/2016", "pants-ft75", "77.99", ""], ["9", "1/8/2018", "SHIRT-Fg07", "232.99", ""], ["10", "1/12/2015", "PANTS-Rt74", "245", ""], ["11", "1/11/2018", "PANTS-Fg76", "85", "5"], ["12", "1/10/2016", "Shirt-Fg48", "74.99", ""], ["13", "1/12/2017", "Pants-Sg36", "232.99", ""], ["14", "1/3/2018", "SHOES-St15", "340", ""], ["15", "1/10/2015", "Pants-FT21", "137.99", ""], ["16", "1/10/2016", "Shirt-FG43", "185", ""], ["17", "1/10/2018", "SHIRT-Sg88", "375", ""], ["18", "1/8/2019", "Shoes-FG89", "172.99", ""], ["19", "1/10/2018", "shoes-ST85", "230", "5"], ["20", "1/12/2017", "PANTS-FT56", "370", ""], ["21", "1/8/2015", "SHIRT-SG56", "317.99", "20"], ["22", "1/12/2016", "pants-FG86", "42.99", ""], ["23", "1/8/2018", "Shirt-FT89", "330", ""], ["24", "1/7/2018", "PANTS-Fg81", "152.99", ""], ["25", "1/5/2017", "Shoes-SG82", "117.99", ""], ["26", "1/3/2019", "shoes-RG71", "212.99", "15"], ["27", "1/9/2016", "Pants-FT38", "270", ""], ["28", "1/6/2016", "Pants-FT48", "185", ""], ["29", "1/4/2017", "SHIRT-Fg66", "354.99", ""], ["30", "1/7/2017", "PANTS-SG19", "155", ""], ["31", "1/8/2018", "Shirt-FG58", "279.99", "20"], ["32", "1/2/2018", "pants-FT56", "170", "5"], ["33", "1/8/2016", "shirt-St46", "32.99", ""], ["34", "1/8/2016", "Shirt-sg12", "180", ""], ["35", "1/8/2019", "SHOES-SG44", "65", ""]]}, "meta": {"file_name": "https://bumblebee.nyc3.digitaloceanspaces.com/store.csv", "name": "store.csv"}}'

In [26]:
"aid" in df.cols.names()

False

SyntaxError: invalid character in identifier (<ipython-input-11-b88ae4b5e84c>, line 1)